/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto|Ubuntu|Lora");


*{
    box-sizing: border-box;
}


header,
section{overflow-x: hidden;
}

:root{
    --Roboto-font:"Roboto", cursive;
    --Poppins-font:"Poppins", cursive;
    --Ubuntu-font:"Ubuntu", cursive;
    --Lora-font:"Lora", cursive;
    --light-black: #2e2c2caf;
    --black: #000000;
    --white: #ffffff;
    --red:#E41A3F;
}

header{
    background: var(--red);
    font-family: var(--Poppins-font);
    font-weight: bold;
    font-size: 0.9em;
    color: white !important;
    
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--white);
    text-decoration: none;
    white-space: nowrap;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--white);
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--white);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: var(--white);
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background: var(--red);
}

.dropdown:hover .dropdown-content{
    display: block;
}